# Project-specific files
config.json

# Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/

# IDE
.vscode/
.idea/

# Virtual Environment
venv/
env/

# Other
.DS_Store
audio/
sounds/
*.wav
sensitive.txt
bfg-1.15.0.jar
.git/
..bfg-report